.main
{
	width:960px;
	margin:0 auto;
}
.contentBox
{
	width:960px;
	height:960px;
	 background-color:#ddd;
	 margin-bottom:10px;
}
.contentBox div{
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	background-color:#BBDFFF;
	left:0;
}

.progressbar
{
	width:560px;
	height:20px;
    background-color:#999999;
	 margin:0 0 0 200px;
}
.pro_hid
{
	 background-color:#F60;
	 width:400px;
	 height:20px;
	 margin:-20px 0 0 200px;
}
