.main
{
	width:960px;
	margin:0 auto;
}
.contentBox
{
	position: relative;
	width:500px;
	height:500px;
	 background-color:#ddd;
	 margin:0 auto 20px;
}
.contentBox div{
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	left:0;
	
}

.progressbar
{
	width:500px;
	height:20px;
	margin:0 auto;
    background-color:#999999;
    overflow:hidden;
}
.pro_hid
{
	 background-color:#F60;
	 width:400px;
	 height:20px;
}
