.contentBox
{
	width:960px;
	height:960px;
	margin:0 atto;
}
.contentBox div{
	width:16px;
	height:16px;
	position:absolute;
	top:0;
	left:0;
}

.progressbar
{
	width:1000px;
	height:20px;
	margin:0 auto;
}
